---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const projects = await getCollection('projects');

    return projects.map(project => ({
        params: { id: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
const { data, slug } = project;
const { name, type, img, tag1, tag2 } = data;

const { Content } = await render(project);
---

<Layout title={`${name} - Federico Sanchez`}>
    <article class="w-[1600px] mx-auto flex py-10">
        <aside>
            <img
                class="w-[3670px]"
                transition:name={`img-${slug}`}
                src={`/${img}`}
                alt={name}
            />
        </aside>
        <main>
            <h1 class="text-7xl text-primary-pink uppercase">{name}</h1>
            <div class="flex gap-5">
                <p class="bg-light-purple rounded-full px-5 inline text-lg">
                    {type}
                </p>
                <p class="bg-light-purple rounded-full px-5 inline text-lg">
                    {tag1}, {tag2}
                </p>
            </div>
            <div class="font-paragrahp text-white prose-invert lg:prose-2xl">
                <Content />
            </div>
        </main>
    </article>
</Layout>
