---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const blogEntries = await getCollection('blog');

    return blogEntries.map(entry => ({
        params: { id: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { data, slug } = entry;
const { title, img } = data;

const { Content } = await render(entry);
---

<Layout title={`${title} - Federico Sanchez`}>
    <article
        class="max-w-full px-4 lg:px-10 mx-auto flex flex-col lg:flex-row gap-8 lg:gap-12 py-10"
    >
        <aside class="flex flex-col items-center lg:items-start">
            <a href="/proyectos" class="mb-6">
                <button
                    class="bg-gray-700 text-center w-full sm:w-48 rounded-2xl h-14 relative text-black text-xl font-semibold group"
                    type="button"
                >
                    <div
                        class="bg-primary-pink rounded-xl h-12 w-1/4 flex items-center justify-center absolute left-1 top-[4px] group-hover:w-full sm:group-hover:w-[184px] z-10 duration-500"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 1024 1024"
                            height="25px"
                            width="25px"
                        >
                            <path
                                d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
                                fill="#000000"></path>
                            <path
                                d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
                                fill="#000000"></path>
                        </svg>
                    </div>
                    <p class="translate-x-2 text-primary-pink">Ver todos</p>
                </button>
            </a>
            <img
                class="w-full lg:w-[750px] max-h-[300px] lg:max-h-[500px] object-cover rounded-xl"
                transition:name={`img-${slug}`}
                src={`/${img}`}
                alt={title}
            />
        </aside>
        <main class="flex-1">
            <h1 class="text-4xl lg:text-8xl text-primary-pink uppercase mb-4">
                {title}
            </h1>
            <div
                class="font-paragraph text-white prose prose-sm sm:prose lg:prose-xl prose-invert"
            >
                <Content />
            </div>
        </main>
    </article>
</Layout>
